/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Sep-2016, 07:54:20
    Author     : Tharinda
*/
td {
    padding: 2px 10px !important;
}
.ui-widget {
    font-family: Verdana,sans-serif;
    font-size: 0.8em;
}
.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}
.ui-corner-all {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.ui-layout-unit {
    border: 1px solid #D3D3D3;
}
.footer-unit{
    font-size: 10px
}
left-grid-column{
}
right-grid-column{
}
.companyHeaderGrid.ui-panelgrid>*>tr,
.companyHeaderGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}
.ui-picklist .ui-picklist-list {
    height: 300px;
    width: 500px;
    margin: 0;
    overflow: auto;
    padding: 0;
}