/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Sep-2016, 07:54:20
    Author     : Tharinda
*/
/*td {
    padding: 2px 10px !important;
}*/
.ui-growl-item-container{
    box-shadow: 5px 5px 10px #888888 !important;
    border-radius: 5px !important;
    color: white !important;
    background-image: none !important;
}

.ui-growl-error{
    background-color: red !important;
}
.ui-growl-warn{
    background-color: orange !important;
}

/*colors*/
.red {background: red  !important ;}
.darkorange {background: darkorange  !important ;}
.lime {background: lime  !important ;}
.turquoise {background: turquoise  !important ;}
.slategray {background: slategray  !important ;}

.north-toolbar * {
    /*    background-color: rgb(38, 38, 38);*/
    background: transparent;
    color: rgb(239, 239, 239);
}
.north-toolbar{
    background-image: url("#{resource['images/header.gif']}");
    background-repeat: repeat-x;
    background-position: 0px -6px;
}


.header-grid.ui-panelgrid>*>tr,
.header-grid.ui-panelgrid .ui-panelgrid-cell {
    height: 20px;
    border: none;
}

.ui-tabs-left > .ui-tabs-nav{
    width: 12%;
    padding-top: 5px;
    height: 600px !important;
}
.ui-tabs-left > .ui-tabs-panels {
    float: right;
    width: 87%;
}
.ui-tabs .ui-tabs-panel{
    padding: 0px 0px;
}


/*moved css^^^^^^^^^^^^^^^^^^*/
.ui-widget {
    font-family: Lucida Grande,sans-serif;
    font-size: 1.0em;
}
.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}
.ui-corner-all {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.ui-layout-unit {
    border: 1px solid #D3D3D3;
}
.footer-unit{
    text-align: center;
    font-size: 10px
}
left-grid-column{
}
right-grid-column{
}
.companyHeaderGrid.ui-panelgrid>*>tr,
.companyHeaderGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}
.ui-picklist .ui-picklist-list {
    height: 300px;
    width: 500px;
    margin: 0;
    overflow: auto;
    padding: 0;
}