<!--  <?xml version="1.0" encoding="UTF-8"?>-->
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>SmartRMS</display-name>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>afterwork</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>ValidateLogin1</servlet-name>
        <servlet-class>rms.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDispatch</servlet-name>
        <servlet-class>rms.test.AccountDispatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHandler</servlet-name>
        <servlet-class>rms.servlets.OrderHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ReserveHandler</servlet-name>
        <servlet-class>rms.servlets.ReserveHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateLogin1</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLogin1</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLogin1</servlet-name>
        <url-pattern>/Workspace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDispatch</servlet-name>
        <url-pattern>/AccountDispatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHandler</servlet-name>
        <url-pattern>/OrderHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHandler</servlet-name>
        <url-pattern>/PlaceOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHandler</servlet-name>
        <url-pattern>/NewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserveHandler</servlet-name>
        <url-pattern>/Reserve</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>Database for SmartRMS application</description>
        <res-ref-name>jdbc/smart-rms</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
